# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
.venv/
venv/
env/

# Django
media/
staticfiles/
local_settings.py
db.sqlite3

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/